body {
    /* adapted from https://www.w3schools.com/css/css_background_image.asp */
    background-image: url("backgrd.jpg");
    background-size:cover;
    background-position: center;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-left: 6px;
    margin-right: 10px;
  }

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:6px;
}

div.info {
    height:100px;
    width:260px;
    padding: 1px;
}

div.info img {
    object-fit: cover;
    object-position: 80%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    top: 17px;
    float:right;
}

div.ref{
    /* adapted from https://www.w3schools.com/css/css_positioning.asp */
    position:fixed;
    bottom:0;
    left:0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
}

div.desc {
    width: 400px;
    background-color:lightgray;
    margin:6px;
    opacity:85%;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:6px;
}

.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
